<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Product</h1>
    <form method="post" action="{% url 'product_add_view' %}">
        {% csrf_token %}
        
        <label for="items_name">Item Name:</label>
        <input type="text" id="items_name" name="items_name" required><br>
        
        <label for="price">Price:</label>
        <input type="number" step="0.01" id="price" name="price" required><br>
        
        <label for="number_of_items">Number of Items:</label>
        <input type="number" id="number_of_items" name="number_of_items" value="1" required><br>
        
        <label for="discount">Discount:</label>
        <input type="number" step="0.01" id="discount" name="discount" value="0.00" required><br>
        
        <label for="description">Description:</label><br>
        <textarea id="description" name="description" rows="4" required></textarea><br>
        
        <input type="submit" value="Add Product">
    </form>
    
</body>
</html>